.plugin-web-auto-notify {
  position: fixed;
  user-select: none;
  z-index: 99999;
}

.plugin-web-auto-notify-content {
  background-color: #ef404f;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  padding: 8px 16px;
  line-height: 1.5715;
  width: 280px;
}

.plugin-web-auto-notify-content-title {
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 24px;
}

.plugin-web-auto-notify-content-desc {
  font-size: 13px;
  line-height: 20px;
}
.plugin-web-auto-notify-tools {
  margin-top: 4px;
  text-align: right;
}
.plugin-web-auto-notify-btn {
  padding: 3px 8px;
  line-height: 1;
  border-radius: 4px;
  transition: background-color 0.2s linear;
  cursor: pointer;
  font-size: 14px;
}
.plugin-web-auto-notify-btn:hover {
  background-color: rgba(64, 87, 109, 0.1);
}
.plugin-web-auto-notify-refresh-btn {
  color: #1677ff;
}
.plugin-web-auto-notify-dismiss-btn {
  color: #f5f7fa;
}